# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Test / coverage
.coverage
htmlcov/

# Python build files
build/
dist/
*.egg-info/

# Docker
*.tar